* {
  box-sizing: border-box;
}

:focus {
  outline: 3px dotted tomato;
  outline-offset: 4px;
}

:root {
  --bg-color: #f2f2f2;
  --title-color: #2B3939;
  --btn-color: #5CA5A5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 500;
  background-color: var(--bg-color);
}

.container {
  width: 100%;
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}


/* SITE-HEADER */

.site-header {
  width: 100%;
  height: 156px;
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.site-main {
  flex-grow: 1;
}

.main-list {
  margin: 0;
  padding: 0;
  padding-top: 81px;
  padding-bottom: 120px;
  list-style-type: none;
}

.main-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 15px 20px -5px #0D718226;
}

.main-item:not(:last-child) {
  margin-bottom: 24px;
}

.new-item {
  border-left: 5px solid var(--btn-color);
}

.item-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-block-img {
  width: 88px;
  height: 88px;
  margin-right: 24px;
  object-fit: contain;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.site-heading {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: var(--btn-color);
}

.site-heading:not(:last-child) {
  margin-right: 16px;
}

.new-btn {
  padding: 6px 8px;
  border-radius: 12px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #5CA5A5;
}

.new-btn:not(:last-child) {
  margin-right: 8px;
}

.feature-btn {
  padding: 6px 8px;
  border-radius: 12px;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #2B3939;
}

.content-title {
  display: flex;
  font-size: 18px;
  margin-bottom: 8px;
}

.content-title-link {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 700;
}

.content-title-link:hover {
  opacity: 0.8;
}

.content-title-link:active {
  opacity: 0.6;
}

.work-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: #7C8F8F;
  white-space: nowrap;
}

.work-content span:not(:first-child)::before {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #909090;
  flex-shrink: 0;
  margin-right: 16px;
  margin-left: 16px;
  border-radius: 50%;
  margin-bottom: 3px;
}


.sitenav-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sitenav-item {
  display: inline;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  background-color:   rgba(92, 165, 165, 0.1);
}

.sitenav-item:not(:last-child) {
  margin-right: 16px;
}

.sitenav-item a {
  display: inline-block;
  color: var(--btn-color);
  text-decoration: none;
}

.sitenav-item a:hover {
  opacity: 0.8;
}

.sitenav-item a:active {
  opacity: 0.6;
}